.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.door {
  position: relative;
  width: 100px;
  height: 150px;

  .door-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
  }

  .ilbuni {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }

  .door-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:nth-child(1) .ilbuni {
    background-image: url("../images/ilbuni_0.png");
  }

  &:nth-child(2) .ilbuni {
    background-image: url("../images/ilbuni_1.png");
  }

  &:nth-child(3) .ilbuni {
    background-image: url("../images/ilbuni_2.png");
  }

  &:nth-child(1) .door-body {
    background: rgba(255, 0, 0, .7);
  }

  &:nth-child(2) .door-body {
    background: rgba(0, 255, 0, .7);
  }

  &:nth-child(3) .door-body {
    background: rgba(0, 0, 255, .7);
  }
}