@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-navigation {
  height: 44px;

  .global-navigation-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
  }
}

.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;

  .local-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;

    a {
      font-size: 0.8rem;

      &:not(.product-name) {
        margin-left: 2em;
      }
    }

    .product-name {
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}